src/main/mule/third.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2e3ab1c6-ae61-4744-925a-ebe73de48451" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="thirdFlow" doc:id="1bfb5853-70d5-4268-ba78-2bc9865b6155" >
		<http:listener doc:name="Listener" doc:id="f16e0ac3-eb19-4d33-9b00-28fddcdd6b49" config-ref="HTTP_Listener_config" path="/third"/>
		<ee:transform doc:name="Transform Message" doc:id="5e50b1d7-67b4-4f47-99a0-5c1cc97b3982" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"deployed to cloudhub through jenkins"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5266825d-8906-4560-b393-f2a656875724" message="#[payload]"/>
	</flow>
</mule>
